@page
@model Shopping_Store.Pages.IndexModel // Thay YourProjectName bằng namespace của project bạn
@{
}

@{
	ViewData["Title"] = "Trang chủ";
}

<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>

        @if (Model.Products != null && Model.Products.Any())

        {
            @foreach (var item in Model.Products)

            {
                <div class="col-sm-4">
                    @* Sử dụng col-sm-4 để hiển thị 3 sản phẩm trên một hàng *@
                    <div class="product-image-wrapper">



                        <div class="single-products">
                            
                            <div class="productinfo text-center">
                                <a asp-page="/Product/ProductDetails" asp-route-id="@item.Id">
                                @* Sử dụng dữ liệu thực tế từ Model.Products *@
                                    <img src="~/media/products/@item.ImageUrl" alt="@item.Name" width="100%" />
                                <h2>@item.Price.ToString("C")</h2> @* Hiển thị giá và định dạng tiền tệ *@
                                <p>@item.Name</p>
                                <p>Danh mục:@item.Category.Name</p>
                                <p>Thương hiệu:@item.Brand.Name</p>
                                        </a>
                                  <form method="post" asp-page="/Cart/Index" asp-page-handler="AddToCart" asp-route-productId="@item.Id">
        <input type="hidden" name="quantity" value="1" /> @* Mặc định thêm 1 sản phẩm *@
        <button type="submit" class="btn btn-default add-to-cart">
            <i class="fa fa-shopping-cart"></i>Add to cart
        </button>
    </form>
									</div>                          
								</div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                            </ul>
                        </div>
                    </div>




                </div>
            }
        }
        else
        {
            <p class="text-center">Hiện không có sản phẩm nào để hiển thị.</p>
        }
	</div><!--features_items-->
</div>